/*
   stausbar-overlay sets the background color for the overlay. Since we are using the dark theme and want light text on it, but black text
   is the default, we'll have to add the cordova-plugin-statusbar. Once added it will use a default lightcontent setting
   which will make the text white so you can see on dark backgrounds. It does this by automatically adding this pref to
   the config.xml upon build for ios -> <preference name="StatusBarStyle" value="lightcontent"/>
   https://github.com/apache/cordova-plugin-statusbar
*/
.statusbar-overlay {
    background: #000000;
}
i.icon.icon-spotify {
    width: 29px;
    height: 29px;
    background-image: url("../images/spotify.png");
    margin-right: 3px;
}
/* Item View bottom action buttons */
li.bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
/* Add space before actual range val */
.rangeVal {
    padding-left: 5px;
}
.list-block {
    margin: 10px 0 !important;
}
/* Format content headers */
.content-block-title {
    margin: 18px 15px 10px;
}
/* Format the long track titles */
.list-block .item-title {
    white-space: inherit;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
/* Formats the Popularity Rank title to display slider better */
.list-block .item-title.label {
    width: 50%;
}

img.detail {
  max-width: 100%;
}

.list-block .item-media {
  flex-shrink: 1;
}
